<!-- @autor: Bivash Pandey 
    User is directed to this html page when a data is fetched. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <h2>Data received successfully</h2></body>
    <h3> Note: Please do not refresh this page </h3>

    <!-- When button is clicked direct user to home/main page -->
    <button onclick="location.href='/'" type="button" id = 'returnBtn'>
         Get Another Data</button>
</body>

</html>